@use "styles" as *;

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 30px;
  align-items: start;
}

@media (0 < width <= 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
  }
}

@media (0 < width <= 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
}

@media (0 < width <= 768px) {
  .grid {
    gap: 30px 15px;
  }
}

@media (0 < width <= 480px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
