{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}
