@use "styles" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.label {
  @include font-primary;
  @include text-small;
  color: $dark-text;
  transition: all 0.2s ease;
  padding-left: 19px;

  &_active {
    color: $dark-text;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;

  border: 2px solid $input-border;
  border-radius: 15px;
  background-color: $white;

  .size {
    &_m {
      height: 66px;
      padding: 12px 60px 12px 19px;
    }

    &_l {
      height: 80px;
      padding: 16px 70px 16px 26px;
    }
  }
}

.input {
  @include text-base;
  width: 100%;

  color: $dark-text;
  border-radius: inherit;
  outline: none;
  transition: border-color 0.2s ease;

  &::placeholder {
    color: $input-placeholder;
  }

  &:focus {
    border-color: $dark-text;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: $input-disabled-bg;
  }
}

.clear-button {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 42px;
  height: 42px;
  transition: opacity 0.2s ease;
  z-index: 1;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
