$black: #000;
$white: #fff;
$charcoal: #5b5959;
$button-red: #a14949;
$button-grey: #b3b3b3;
$button-grey-text: #808080;
$dark-text: #1a1a1a;
$input-placeholder: #b3b3b3;
$input-border: #1a1a1a;
$input-disabled-bg: #f5f5f5;
$favorite-red: #ff0909;
