@use "colors" as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: $black;
  background-color: $white;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
