@use "colors" as *;
@use "typography" as *;

:root {
  @include font-primary;
  color-scheme: light dark;
  color: $black;
  background-color: $white;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul,
ol {
  margin-block: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}
