@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;

  flex-direction: column;
}

@mixin default-hover {
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

@mixin animate($property, $duration: 0.2s, $ease: ease) {
  transition: $property $duration $ease;
}
