@use "styles" as *;

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  flex: 1;
}
