@use "styles" as *;

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    opacity: 0.7;
  }

  &:active:not(:disabled) {
    opacity: 0.9;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.size {
  &_s {
    @include square(30px);
  }

  &_m {
    @include square(42px);
  }

  &_l {
    @include square(64px);
  }
}

.variant {
  &_default {
    svg {
      fill: none;
      stroke: $dark-text;
    }
  }

  &_favorite {
    svg {
      fill: none;
      stroke: $dark-text;
      transition:
        fill 0.2s ease,
        stroke 0.2s ease;
    }

    &.active {
      svg {
        color: $favorite-red;
        fill: $favorite-red;
        stroke: $favorite-red;

        & > path {
          stroke: currentColor;
        }
      }
    }
  }
}
